---
import { SITE } from "../config";
const navItems = [
	{
		title: 'Salem System',
		description: 'Aplicacion de control de piscinas de camaron.',
		url: '/camaron/camaron',
		img: '/camaron.png'
	},
	{
		title: 'Cafe',
		description: 'Cafe.',
		url: '/camaron/camaron',
		img: '/cafe.png'
	},
	{
		title: 'Cacao',
		description: 'Cacao.',
		url: '/camaron/camaron',
		img: '/cacao.png'
	},
	{
		title: 'Tilapia',
		description: 'Tilapia.',
		url: '/camaron/camaron',
		img: '/tilapia.png'
	},

]

---



<div class="bg-slate-100 min-h-screen text-center">
	<header class="pt-12 pb-24 px-4 bg-gradient-to-r from-cyan-500 to-blue-500">
		<div class="flex items-center justify-center p-4">
			<img src="/UGLOGO.png" alt="Universidad de guayaquil" width="100px">
		</div>
		<h1 class=" text-white text-4xl font-medium drop-shadow-sm">{SITE.title}</h1>
		<p class="text-lg mt-4 text-slate-300">{SITE.description}</p>
	</header>
	<nav>
		<ul class="flex gap-4 max-w-5xl mx-auto text-left mt-12">
		{
			navItems.map(({ title, description, url, img }) => (
				<a href={url} class="flex flex-col bg-white rounded-md hover:-translate-y-1 hover:shadow-lg transition-all flex-1 items-center p-4">
					<img src={img} alt={title}>
					<h2 class="text-lg font-medium">{title}</h2>
					<p class="text-slate-500">{description}</p>
				</a>
			))
		}
		</ul>
	</nav>
</div>

<script is:inline>
</script>
